* text=auto !eol
/CMakeLists.txt svneol=native#text/plain
/Doxyfile.developer -text
/README.configure.txt -text
bindings/cpp/AUTHORS -text
bindings/cpp/COPYING -text
bindings/cpp/ChangeLog -text
bindings/cpp/INSTALL -text
bindings/cpp/Makefile.am -text
bindings/cpp/Makefile.in -text
bindings/cpp/NEWS -text
bindings/cpp/README -text
bindings/cpp/SConscript -text
bindings/cpp/aclocal.m4 -text
bindings/cpp/bin/Makefile.am -text
bindings/cpp/bin/Makefile.in -text
bindings/cpp/build/gnu/Makefile.in -text
bindings/cpp/build/gnu/OUT_OF_DATE -text
bindings/cpp/build/gnu/aclocal.m4 -text
bindings/cpp/build/gnu/config.guess -text
bindings/cpp/build/gnu/config.sub -text
bindings/cpp/build/gnu/configure -text
bindings/cpp/build/gnu/configure.ac -text
bindings/cpp/build/gnu/install-sh -text
bindings/cpp/build/vc6/devs_example.dsp -text
bindings/cpp/build/vc6/devs_example.dsw -text
bindings/cpp/build/vc6/sine_example.dsp -text
bindings/cpp/build/vc6/sine_example.dsw -text
bindings/cpp/build/vc6/static_library.dsp -text
bindings/cpp/build/vc6/static_library.dsw -text
bindings/cpp/build/vc7/OUT_OF_DATE -text
bindings/cpp/build/vc7_1/devs_example.sln -text
bindings/cpp/build/vc7_1/devs_example.vcproj -text
bindings/cpp/build/vc7_1/sine_example.sln -text
bindings/cpp/build/vc7_1/sine_example.vcproj -text
bindings/cpp/build/vc7_1/static_library.sln -text
bindings/cpp/build/vc7_1/static_library.vcproj -text
bindings/cpp/configure -text
bindings/cpp/configure.ac -text
bindings/cpp/doc/Makefile.am -text
bindings/cpp/doc/Makefile.in -text
bindings/cpp/doc/README -text
bindings/cpp/doc/config.doxy -text
bindings/cpp/doc/config.doxy.linux -text
bindings/cpp/example/devs.cxx -text
bindings/cpp/example/sine.cxx -text
bindings/cpp/include/Makefile.am -text
bindings/cpp/include/Makefile.in -text
bindings/cpp/include/portaudiocpp/AsioDeviceAdapter.hxx -text
bindings/cpp/include/portaudiocpp/AutoSystem.hxx -text
bindings/cpp/include/portaudiocpp/BlockingStream.hxx -text
bindings/cpp/include/portaudiocpp/CFunCallbackStream.hxx -text
bindings/cpp/include/portaudiocpp/CallbackInterface.hxx -text
bindings/cpp/include/portaudiocpp/CallbackStream.hxx -text
bindings/cpp/include/portaudiocpp/CppFunCallbackStream.hxx -text
bindings/cpp/include/portaudiocpp/Device.hxx -text
bindings/cpp/include/portaudiocpp/DirectionSpecificStreamParameters.hxx -text
bindings/cpp/include/portaudiocpp/Exception.hxx -text
bindings/cpp/include/portaudiocpp/HostApi.hxx -text
bindings/cpp/include/portaudiocpp/InterfaceCallbackStream.hxx -text
bindings/cpp/include/portaudiocpp/MemFunCallbackStream.hxx -text
bindings/cpp/include/portaudiocpp/PortAudioCpp.hxx -text
bindings/cpp/include/portaudiocpp/SampleDataFormat.hxx -text
bindings/cpp/include/portaudiocpp/Stream.hxx -text
bindings/cpp/include/portaudiocpp/StreamParameters.hxx -text
bindings/cpp/include/portaudiocpp/System.hxx -text
bindings/cpp/include/portaudiocpp/SystemDeviceIterator.hxx -text
bindings/cpp/include/portaudiocpp/SystemHostApiIterator.hxx -text
bindings/cpp/lib/Makefile.am -text
bindings/cpp/lib/Makefile.in -text
bindings/cpp/portaudiocpp.pc.in -text
bindings/cpp/source/portaudiocpp/AsioDeviceAdapter.cxx -text
bindings/cpp/source/portaudiocpp/BlockingStream.cxx -text
bindings/cpp/source/portaudiocpp/CFunCallbackStream.cxx -text
bindings/cpp/source/portaudiocpp/CallbackInterface.cxx -text
bindings/cpp/source/portaudiocpp/CallbackStream.cxx -text
bindings/cpp/source/portaudiocpp/CppFunCallbackStream.cxx -text
bindings/cpp/source/portaudiocpp/Device.cxx -text
bindings/cpp/source/portaudiocpp/DirectionSpecificStreamParameters.cxx -text
bindings/cpp/source/portaudiocpp/Exception.cxx -text
bindings/cpp/source/portaudiocpp/HostApi.cxx -text
bindings/cpp/source/portaudiocpp/InterfaceCallbackStream.cxx -text
bindings/cpp/source/portaudiocpp/MemFunCallbackStream.cxx -text
bindings/cpp/source/portaudiocpp/Stream.cxx -text
bindings/cpp/source/portaudiocpp/StreamParameters.cxx -text
bindings/cpp/source/portaudiocpp/System.cxx -text
bindings/cpp/source/portaudiocpp/SystemDeviceIterator.cxx -text
bindings/cpp/source/portaudiocpp/SystemHostApiIterator.cxx -text
build/msvc/portaudio.dsp -text
build/msvc/portaudio.dsw -text
build/msvc/portaudio.sln -text
build/msvc/portaudio.vcproj -text
build/scons/SConscript_common -text
build/scons/SConscript_opts -text
cmake_support/FindASIOSDK.cmake -text
cmake_support/FindDXSDK.cmake -text
cmake_support/options_cmake.h.in -text
cmake_support/template_portaudio.def -text
/depcomp -text
doc/src/api_overview.dox -text
doc/src/images/portaudio-external-architecture-diagram.png -text
doc/src/license.dox -text
doc/src/mainpage.dox -text
doc/src/srcguide.dox -text
doc/utils/checkfiledocs.py -text
examples/paex_read_write_wire.c -text
examples/paex_wmme_ac3.c -text
examples/paex_wmme_surround.c -text
examples/paex_write_sine_nonint.c -text
include/pa_jack.h -text
include/pa_win_ds.h -text
include/pa_win_wasapi.h -text
include/pa_win_waveformat.h -text
/ltmain.sh -text
/missing -text
qa/loopback/README.txt -text
qa/loopback/src/audio_analyzer.c -text
qa/loopback/src/audio_analyzer.h -text
qa/loopback/src/biquad_filter.c -text
qa/loopback/src/biquad_filter.h -text
qa/loopback/src/paqa.c -text
qa/loopback/src/paqa_tools.c -text
qa/loopback/src/paqa_tools.h -text
qa/loopback/src/qa_tools.h -text
qa/loopback/src/test_audio_analyzer.c -text
qa/loopback/src/test_audio_analyzer.h -text
qa/loopback/src/write_wav.c -text
qa/loopback/src/write_wav.h -text
qa/paqa_latency.c -text
src/common/pa_debugprint.c -text
src/common/pa_debugprint.h -text
src/common/pa_memorybarrier.h -text
src/hostapi/asihpi/pa_linux_asihpi.c -text
src/hostapi/asio/Callback_adaptation_.pdf -text
src/hostapi/asio/Pa_ASIO.pdf -text
src/hostapi/coreaudio/pa_mac_core_blocking.c -text
src/hostapi/coreaudio/pa_mac_core_blocking.h -text
src/hostapi/oss/low_latency_tip.txt svneol=native#unset
src/hostapi/skeleton/README.txt -text
src/hostapi/wasapi/mingw-include/AudioSessionTypes.h -text
src/hostapi/wasapi/mingw-include/FunctionDiscoveryKeys_devpkey.h -text
src/hostapi/wasapi/mingw-include/audioclient.h -text
src/hostapi/wasapi/mingw-include/devicetopology.h -text
src/hostapi/wasapi/mingw-include/endpointvolume.h -text
src/hostapi/wasapi/mingw-include/functiondiscoverykeys.h -text
src/hostapi/wasapi/mingw-include/ks.h -text
src/hostapi/wasapi/mingw-include/ksguid.h -text
src/hostapi/wasapi/mingw-include/ksmedia.h -text
src/hostapi/wasapi/mingw-include/ksproxy.h -text
src/hostapi/wasapi/mingw-include/ksuuids.h -text
src/hostapi/wasapi/mingw-include/mmdeviceapi.h -text
src/hostapi/wasapi/mingw-include/propidl.h -text
src/hostapi/wasapi/mingw-include/propkey.h -text
src/hostapi/wasapi/mingw-include/propkeydef.h -text
src/hostapi/wasapi/mingw-include/propsys.h -text
src/hostapi/wasapi/mingw-include/rpcsal.h -text
src/hostapi/wasapi/mingw-include/sal.h -text
src/hostapi/wasapi/mingw-include/sdkddkver.h -text
src/hostapi/wasapi/mingw-include/shtypes.h -text
src/hostapi/wasapi/mingw-include/structuredquery.h -text
src/hostapi/wasapi/pa_win_wasapi.c -text
src/hostapi/wasapi/readme.txt -text
src/os/win/pa_win_coinitialize.c -text
src/os/win/pa_win_coinitialize.h -text
src/os/win/pa_win_waveformat.c -text
src/os/win/pa_win_wdmks_utils.c -text
src/os/win/pa_win_wdmks_utils.h -text
test/patest_converters.c -text
test/patest_dsound_low_level_latency_params.c -text
test/patest_dsound_surround.c -text
test/patest_jack_wasapi.c -text
test/patest_sine_channelmaps.c -text
test/patest_sine_srate.c -text
test/patest_suggested_vs_streaminfo_latency.c -text
test/patest_suggested_vs_streaminfo_latency.py -text
test/patest_timing.c -text
test/patest_wmme_find_best_latency_params.c -text
test/patest_wmme_low_level_latency_params.c -text
