/Makefile
/autom4te.cache
/bin
/bin-*
bindings/cpp/Makefile
bindings/cpp/autom4te.cache
bindings/cpp/bin
bindings/cpp/bin-*
bindings/cpp/config.*
bindings/cpp/lib-stamp
bindings/cpp/libtool
build/scons/options.cache
build/scons/posix
build/scons/sconf.log
/config.*
doc/html/*
/lib-stamp
/libtool
/portaudio-2.0.pc
