* text=auto !eol
davidv/v19-devel-debugprint-sept-06/COMPILING.DARWIN -text
davidv/v19-devel-debugprint-sept-06/Makefile.darwin -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/AUTHORS -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/COPYING -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/ChangeLog -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/INSTALL -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/Makefile.am -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/Makefile.in -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/NEWS -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/README -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/SConscript -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/aclocal.m4 -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/bin/Makefile.am -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/bin/Makefile.in -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/build/gnu/Makefile.in -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/build/gnu/OUT_OF_DATE -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/build/gnu/aclocal.m4 -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/build/gnu/config.guess -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/build/gnu/config.sub -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/build/gnu/configure -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/build/gnu/configure.ac -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/build/gnu/install-sh -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/build/vc6/devs_example.dsp -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/build/vc6/devs_example.dsw -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/build/vc6/sine_example.dsp -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/build/vc6/sine_example.dsw -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/build/vc6/static_library.dsp -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/build/vc6/static_library.dsw -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/build/vc7/OUT_OF_DATE -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/build/vc7_1/devs_example.sln -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/build/vc7_1/devs_example.vcproj -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/build/vc7_1/sine_example.sln -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/build/vc7_1/sine_example.vcproj -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/build/vc7_1/static_library.sln -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/build/vc7_1/static_library.vcproj -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/configure -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/configure.ac -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/doc/Makefile.am -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/doc/Makefile.in -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/doc/README -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/doc/config.doxy -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/doc/config.doxy.linux -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/example/devs.cxx -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/example/sine.cxx -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/include/Makefile.am -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/include/Makefile.in -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/include/portaudiocpp/AsioDeviceAdapter.hxx -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/include/portaudiocpp/AutoSystem.hxx -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/include/portaudiocpp/BlockingStream.hxx -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/include/portaudiocpp/CFunCallbackStream.hxx -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/include/portaudiocpp/CallbackInterface.hxx -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/include/portaudiocpp/CallbackStream.hxx -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/include/portaudiocpp/CppFunCallbackStream.hxx -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/include/portaudiocpp/Device.hxx -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/include/portaudiocpp/DirectionSpecificStreamParameters.hxx -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/include/portaudiocpp/Exception.hxx -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/include/portaudiocpp/HostApi.hxx -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/include/portaudiocpp/InterfaceCallbackStream.hxx -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/include/portaudiocpp/MemFunCallbackStream.hxx -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/include/portaudiocpp/PortAudioCpp.hxx -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/include/portaudiocpp/SampleDataFormat.hxx -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/include/portaudiocpp/Stream.hxx -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/include/portaudiocpp/StreamParameters.hxx -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/include/portaudiocpp/System.hxx -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/include/portaudiocpp/SystemDeviceIterator.hxx -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/include/portaudiocpp/SystemHostApiIterator.hxx -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/lib/Makefile.am -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/lib/Makefile.in -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/portaudiocpp.pc.in -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/source/portaudiocpp/AsioDeviceAdapter.cxx -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/source/portaudiocpp/BlockingStream.cxx -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/source/portaudiocpp/CFunCallbackStream.cxx -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/source/portaudiocpp/CallbackInterface.cxx -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/source/portaudiocpp/CallbackStream.cxx -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/source/portaudiocpp/CppFunCallbackStream.cxx -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/source/portaudiocpp/Device.cxx -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/source/portaudiocpp/DirectionSpecificStreamParameters.cxx -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/source/portaudiocpp/Exception.cxx -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/source/portaudiocpp/HostApi.cxx -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/source/portaudiocpp/InterfaceCallbackStream.cxx -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/source/portaudiocpp/MemFunCallbackStream.cxx -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/source/portaudiocpp/Stream.cxx -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/source/portaudiocpp/StreamParameters.cxx -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/source/portaudiocpp/System.cxx -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/source/portaudiocpp/SystemDeviceIterator.cxx -text
davidv/v19-devel-debugprint-sept-06/bindings/cpp/source/portaudiocpp/SystemHostApiIterator.cxx -text
davidv/v19-devel-debugprint-sept-06/build/msvc/portaudio.dsp -text
davidv/v19-devel-debugprint-sept-06/build/msvc/portaudio.dsw -text
davidv/v19-devel-debugprint-sept-06/build/msvc/portaudio.sln -text
davidv/v19-devel-debugprint-sept-06/build/msvc/portaudio.vcproj -text
davidv/v19-devel-debugprint-sept-06/build/scons/SConscript_common -text
davidv/v19-devel-debugprint-sept-06/build/scons/SConscript_opts -text
davidv/v19-devel-debugprint-sept-06/depcomp -text
davidv/v19-devel-debugprint-sept-06/doc/src/license.dox -text
davidv/v19-devel-debugprint-sept-06/doc/src/mainpage.dox -text
davidv/v19-devel-debugprint-sept-06/doc/src/srcguide.dox -text
davidv/v19-devel-debugprint-sept-06/doc/utils/checkfiledocs.py -text
davidv/v19-devel-debugprint-sept-06/ltmain.sh -text
davidv/v19-devel-debugprint-sept-06/missing -text
davidv/v19-devel-debugprint-sept-06/src/common/pa_debugprint.c -text
davidv/v19-devel-debugprint-sept-06/src/common/pa_debugprint.h -text
davidv/v19-devel-debugprint-sept-06/src/hostapi/asihpi/pa_linux_asihpi.c -text
davidv/v19-devel-debugprint-sept-06/src/hostapi/asio/Callback_adaptation_.pdf -text
davidv/v19-devel-debugprint-sept-06/src/hostapi/asio/Pa_ASIO.pdf -text
davidv/v19-devel-debugprint-sept-06/src/hostapi/coreaudio/pa_mac_core_blocking.c -text
davidv/v19-devel-debugprint-sept-06/src/hostapi/coreaudio/pa_mac_core_blocking.h -text
davidv/v19-devel-debugprint-sept-06/src/hostapi/coreaudio/ringbuffer.c -text
davidv/v19-devel-debugprint-sept-06/src/hostapi/coreaudio/ringbuffer.h -text
davidv/v19-devel-debugprint-sept-06/src/hostapi/oss/low_latency_tip.txt svneol=native#unset
davidv/v19-devel-debugprint-sept-06/src/hostapi/wasapi/pa_win_wasapi.cpp -text
davidv/v19-devel-debugprint-sept-06/test/patest_read_write_wire.c -text
davidv/v19-devel-debugprint-sept-06/test/patest_timing.c -text
